<a href="https://colab.research.google.com/github/Kzis/mrt-is/blob/master/MRT_IS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 4/zgGqjYp9xNvXVakfFyzEZb05Qfsnz3F0e8iJaTsk_-1OlH011Jo2ubk

In [16]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
# df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv" , nrows=10000)
df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv")

In [19]:
df.shape

(17240769, 24)

In [20]:
df.head()

   TransactionID TransactionDate  ...  CalendarSemester CalendarYear
0             40      2017-01-01  ...                 1         2017
1             69      2017-01-01  ...                 1         2017
2            127      2017-01-01  ...                 1         2017
3            129      2017-01-01  ...                 1         2017
4            333      2017-01-01  ...                 1         2017

[5 rows x 24 columns]

In [21]:
df.columns

Index(['TransactionID', 'TransactionDate', 'CardType', 'BusinessDay',
       'EntryStationID', 'ExitStationID', 'TicketType', 'TicketName',
       'PassengerType', 'StationName', 'LineCode', 'Right_StationName',
       'Right_LineCode', 'DateKey', 'DayType', 'DayNumberOfMonth',
       'EnglishDayNameOfWeek', 'ThaiDayNameOfWeek', 'EnglishMonthName',
       'ThaiMonthName', 'MonthNumberOfYear', 'CalendarQuater',
       'CalendarSemester', 'CalendarYear'],
      dtype='object')

In [22]:
df.CardType.value_counts()

1     8945627
58    5811954
4     1296077
3      520535
21     381360
60     161925
24      52314
59      28807
23      22109
2       19229
22        832
Name: CardType, dtype: int64

In [23]:
df.TicketType.value_counts()

Card     11238083
Token     6002686
Name: TicketType, dtype: int64

In [24]:
df.TicketName.value_counts()

Adult-A      8945627
Adult        5811954
Student-A    1296077
Senior-A      520535
Adult-B       381360
Senior        161925
Student-B      52314
Child          28807
Senior-B       22109
Child-A        19229
Child-B          832
Name: TicketName, dtype: int64

In [25]:
df.PassengerType.value_counts()

Adult      15138941
Student     1348391
Senior       704569
Child         48868
Name: PassengerType, dtype: int64

In [26]:
df.StationName.value_counts()

Sukhumvit                                   2247742
Phra Ram 9                                  1519359
Phetchaburi                                 1387354
Chatuchak Park                              1220946
Si Lom                                      1164985
Thailand Cultural Centre                    1129021
Huai Khwang                                 1127254
Phahon Yothin                                930277
Lat Phrao                                    921350
Hua Lamphong                                 822199
Sutthisan                                    821244
Queen Sirikit National Convention Centre     759837
Bang Sue                                     655375
Lumphini                                     589214
Sam Yan                                      583121
Ratchadaphisek                               420421
Kamphaeng Phet                               247994
Khlong Toei                                  141782
Tao Poon                                     114038
Khlong Bang Phai                              54678
Ministry of Public Health                     52388
Talad Bang Yai                                45161
Nonthaburi Civic Center                       35919
Yaek Nonthaburi 1                             34612
Wong Sawang                                   33810
Yaek Tiwanon                                  31761
Bang Rak Noi Tha It                           28128
Bang Krasor                                   26619
Bang Son                                      26207
Bang Phlu                                     17377
Sai Ma                                        17068
Phra Nang Klao Bridge                         14432
Sam Yaek Bang Yai                             11655
Bang Rak Yai                                   7441
Name: StationName, dtype: int64

In [27]:
df.CalendarYear.value_counts()

2017    17240769
Name: CalendarYear, dtype: int64

In [28]:
df.BusinessDay.value_counts()

2017-09-29    77756
2017-11-03    77309
2017-09-01    76635
2017-11-10    73979
2017-10-20    72808
              ...
2017-01-15    12064
2017-02-13    12032
2017-01-08    11120
2017-01-02     7218
2017-01-01     5046
Name: BusinessDay, Length: 364, dtype: int64