<a href="https://colab.research.google.com/github/Kzis/mrt-is/blob/master/MRT_IS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 4/zgGqjYp9xNvXVakfFyzEZb05Qfsnz3F0e8iJaTsk_-1OlH011Jo2ubk

In [5]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv" , nrows=10000)
df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv")

In [10]:
df.shape

(17240769, 24)

In [11]:
df.head()

   TransactionID TransactionDate  ...  CalendarSemester CalendarYear
0             40      2017-01-01  ...                 1         2017
1             69      2017-01-01  ...                 1         2017
2            127      2017-01-01  ...                 1         2017
3            129      2017-01-01  ...                 1         2017
4            333      2017-01-01  ...                 1         2017

[5 rows x 24 columns]

In [12]:
df.columns

Index(['TransactionID', 'TransactionDate', 'CardType', 'BusinessDay',
       'EntryStationID', 'ExitStationID', 'TicketType', 'TicketName',
       'PassengerType', 'StationName', 'LineCode', 'Right_StationName',
       'Right_LineCode', 'DateKey', 'DayType', 'DayNumberOfMonth',
       'EnglishDayNameOfWeek', 'ThaiDayNameOfWeek', 'EnglishMonthName',
       'ThaiMonthName', 'MonthNumberOfYear', 'CalendarQuater',
       'CalendarSemester', 'CalendarYear'],
      dtype='object')

In [13]:
df.CardType.value_counts()

1     8945627
58    5811954
4     1296077
3      520535
21     381360
60     161925
24      52314
59      28807
23      22109
2       19229
22        832
Name: CardType, dtype: int64

In [14]:
df.TicketType.value_counts()

Card     11238083
Token     6002686
Name: TicketType, dtype: int64