<a href="https://colab.research.google.com/github/Kzis/mrt-is/blob/master/MRT_IS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 4/zgGqjYp9xNvXVakfFyzEZb05Qfsnz3F0e8iJaTsk_-1OlH011Jo2ubk

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv" , nrows=10000)
df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv")

In [5]:
df.shape

(17240769, 24)

In [6]:
df.head()

   TransactionID TransactionDate  ...  CalendarSemester CalendarYear
0             40      2017-01-01  ...                 1         2017
1             69      2017-01-01  ...                 1         2017
2            127      2017-01-01  ...                 1         2017
3            129      2017-01-01  ...                 1         2017
4            333      2017-01-01  ...                 1         2017

[5 rows x 24 columns]

In [7]:
df.columns

Index(['TransactionID', 'TransactionDate', 'CardType', 'BusinessDay',
       'EntryStationID', 'ExitStationID', 'TicketType', 'TicketName',
       'PassengerType', 'StationName', 'LineCode', 'Right_StationName',
       'Right_LineCode', 'DateKey', 'DayType', 'DayNumberOfMonth',
       'EnglishDayNameOfWeek', 'ThaiDayNameOfWeek', 'EnglishMonthName',
       'ThaiMonthName', 'MonthNumberOfYear', 'CalendarQuater',
       'CalendarSemester', 'CalendarYear'],
      dtype='object')

In [8]:
df.CardType.value_counts()

1     8945627
58    5811954
4     1296077
3      520535
21     381360
60     161925
24      52314
59      28807
23      22109
2       19229
22        832
Name: CardType, dtype: int64

In [9]:
df.TicketType.value_counts()

Card     11238083
Token     6002686
Name: TicketType, dtype: int64

In [10]:
df.TicketName.value_counts()

Adult-A      8945627
Adult        5811954
Student-A    1296077
Senior-A      520535
Adult-B       381360
Senior        161925
Student-B      52314
Child          28807
Senior-B       22109
Child-A        19229
Child-B          832
Name: TicketName, dtype: int64

In [11]:
df.PassengerType.value_counts()

Adult      15138941
Student     1348391
Senior       704569
Child         48868
Name: PassengerType, dtype: int64

In [12]:
df.StationName.value_counts()

Sukhumvit                                   2247742
Phra Ram 9                                  1519359
Phetchaburi                                 1387354
Chatuchak Park                              1220946
Si Lom                                      1164985
Thailand Cultural Centre                    1129021
Huai Khwang                                 1127254
Phahon Yothin                                930277
Lat Phrao                                    921350
Hua Lamphong                                 822199
Sutthisan                                    821244
Queen Sirikit National Convention Centre     759837
Bang Sue                                     655375
Lumphini                                     589214
Sam Yan                                      583121
Ratchadaphisek                               420421
Kamphaeng Phet                               247994
Khlong Toei                                  141782
Tao Poon                                     114038
Khlong Bang Phai                              54678
Ministry of Public Health                     52388
Talad Bang Yai                                45161
Nonthaburi Civic Center                       35919
Yaek Nonthaburi 1                             34612
Wong Sawang                                   33810
Yaek Tiwanon                                  31761
Bang Rak Noi Tha It                           28128
Bang Krasor                                   26619
Bang Son                                      26207
Bang Phlu                                     17377
Sai Ma                                        17068
Phra Nang Klao Bridge                         14432
Sam Yaek Bang Yai                             11655
Bang Rak Yai                                   7441
Name: StationName, dtype: int64

In [13]:
df.CalendarYear.value_counts()

2017    17240769
Name: CalendarYear, dtype: int64

In [16]:
df.ThaiMonthName.value_counts()

พฤศจิกายน     1801585
กันยายน       1775869
สิงหาคม       1754984
ตุลาคม        1676494
ธันวาคม       1630557
มิถุนายน      1627196
กรกฎาคม       1606519
พฤษภาคม       1520761
เมษายน        1242435
มีนาคม         948261
มกราคม         829946
กุมภาพันธ์     826162
Name: ThaiMonthName, dtype: int64

In [17]:
jan_df = df.loc[df['ThaiMonthName'] == 'มกราคม']
jan_df.head()

   TransactionID TransactionDate  ...  CalendarSemester CalendarYear
0             40      2017-01-01  ...                 1         2017
1             69      2017-01-01  ...                 1         2017
2            127      2017-01-01  ...                 1         2017
3            129      2017-01-01  ...                 1         2017
4            333      2017-01-01  ...                 1         2017

[5 rows x 24 columns]

In [19]:
feb_df = df.loc[df['ThaiMonthName'] == 'กุมภาพันธ์']
feb_df.head()

        TransactionID TransactionDate  ...  CalendarSemester CalendarYear
829946         834112      2017-02-01  ...                 1         2017
829947         846958      2017-02-01  ...                 1         2017
829948         847879      2017-02-01  ...                 1         2017
829949         848281      2017-02-01  ...                 1         2017
829950         849363      2017-02-01  ...                 1         2017

[5 rows x 24 columns]

In [20]:
mar_df = df.loc[df['ThaiMonthName'] == 'มีนาคม']
mar_df.head()

         TransactionID TransactionDate  ...  CalendarSemester CalendarYear
1656108        1678663      2017-03-01  ...                 1         2017
1656109        1693431      2017-03-01  ...                 1         2017
1656110        1670547      2017-03-01  ...                 1         2017
1656111        1677615      2017-03-01  ...                 1         2017
1656112        1678189      2017-03-01  ...                 1         2017

[5 rows x 24 columns]

In [21]:
apr_df = df.loc[df['ThaiMonthName'] == 'เมษายน']
apr_df.head()

         TransactionID TransactionDate  ...  CalendarSemester CalendarYear
2604369        2620546      2017-04-01  ...                 1         2017
2604370        2621083      2017-04-01  ...                 1         2017
2604371        2621462      2017-04-01  ...                 1         2017
2604372        2621823      2017-04-01  ...                 1         2017
2604373        2622145      2017-04-01  ...                 1         2017

[5 rows x 24 columns]

In [22]:
may_df = df.loc[df['ThaiMonthName'] == 'พฤษภาคม']
may_df.head()

         TransactionID TransactionDate  ...  CalendarSemester CalendarYear
3846804        3860771      2017-05-01  ...                 1         2017
3846805        3871150      2017-05-01  ...                 1         2017
3846806        3872404      2017-05-01  ...                 1         2017
3846807        3877365      2017-05-01  ...                 1         2017
3846808        3883463      2017-05-01  ...                 1         2017

[5 rows x 24 columns]

In [23]:
june_df = df.loc[df['ThaiMonthName'] == 'มิถุนายน']
june_df.head()

         TransactionID TransactionDate  ...  CalendarSemester CalendarYear
5367565        5449020      2017-06-01  ...                 1         2017
5367566        5417518      2017-06-01  ...                 1         2017
5367567        5420048      2017-06-01  ...                 1         2017
5367568        5421079      2017-06-01  ...                 1         2017
5367569        5422084      2017-06-01  ...                 1         2017

[5 rows x 24 columns]

In [24]:
junly_df = df.loc[df['ThaiMonthName'] == 'กรกฎาคม']
junly_df.head()

         TransactionID TransactionDate  ...  CalendarSemester CalendarYear
6994761        7044406      2017-07-01  ...                 2         2017
6994762        7078104      2017-07-01  ...                 2         2017
6994763        7027628      2017-07-01  ...                 2         2017
6994764        7047958      2017-07-01  ...                 2         2017
6994765        7066409      2017-07-01  ...                 2         2017

[5 rows x 24 columns]

In [25]:
aug_df = df.loc[df['ThaiMonthName'] == 'สิงหาคม']
aug_df.head()

         TransactionID TransactionDate  ...  CalendarSemester CalendarYear
8601280        8701986      2017-08-01  ...                 2         2017
8601281        8687313      2017-08-01  ...                 2         2017
8601282        8687668      2017-08-01  ...                 2         2017
8601283        8687771      2017-08-01  ...                 2         2017
8601284        8687946      2017-08-01  ...                 2         2017

[5 rows x 24 columns]

In [26]:
sep_df = df.loc[df['ThaiMonthName'] == 'กันยายน']
sep_df.head()

          TransactionID TransactionDate  ...  CalendarSemester CalendarYear
10356264       10409726      2017-09-01  ...                 2         2017
10356265       10410174      2017-09-01  ...                 2         2017
10356266       10412315      2017-09-01  ...                 2         2017
10356267       10415586      2017-09-01  ...                 2         2017
10356268       10441481      2017-09-01  ...                 2         2017

[5 rows x 24 columns]

In [27]:
oct_df = df.loc[df['ThaiMonthName'] == 'ตุลาคม']
oct_df.head()

          TransactionID TransactionDate  ...  CalendarSemester CalendarYear
12132133       12196719      2017-10-01  ...                 2         2017
12132134       12199048      2017-10-01  ...                 2         2017
12132135       12202797      2017-10-01  ...                 2         2017
12132136       12212722      2017-10-01  ...                 2         2017
12132137       12225452      2017-10-01  ...                 2         2017

[5 rows x 24 columns]

In [28]:
nov_df = df.loc[df['ThaiMonthName'] == 'พฤศจิกายน']
nov_df.head()

          TransactionID TransactionDate  ...  CalendarSemester CalendarYear
13808627       13889675      2017-11-01  ...                 2         2017
13808628       13880306      2017-11-01  ...                 2         2017
13808629       13883179      2017-11-01  ...                 2         2017
13808630       13877016      2017-11-01  ...                 2         2017
13808631       13877037      2017-11-01  ...                 2         2017

[5 rows x 24 columns]

In [29]:
dec_df = df.loc[df['ThaiMonthName'] == 'ธันวาคม']
dec_df.head()

          TransactionID TransactionDate  ...  CalendarSemester CalendarYear
15610212       15728328      2017-12-01  ...                 2         2017
15610213       15742042      2017-12-01  ...                 2         2017
15610214       15748873      2017-12-01  ...                 2         2017
15610215       15750874      2017-12-01  ...                 2         2017
15610216       15753001      2017-12-01  ...                 2         2017

[5 rows x 24 columns]