<a href="https://colab.research.google.com/github/Kzis/mrt-is/blob/master/MRT_IS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv" , nrows=10000)
df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv")

In [4]:
df.shape

(17240769, 24)

In [5]:
df.head()

   TransactionID TransactionDate  ...  CalendarSemester CalendarYear
0             40      2017-01-01  ...                 1         2017
1             69      2017-01-01  ...                 1         2017
2            127      2017-01-01  ...                 1         2017
3            129      2017-01-01  ...                 1         2017
4            333      2017-01-01  ...                 1         2017

[5 rows x 24 columns]

In [6]:
df.columns

Index(['TransactionID', 'TransactionDate', 'CardType', 'BusinessDay',
       'EntryStationID', 'ExitStationID', 'TicketType', 'TicketName',
       'PassengerType', 'StationName', 'LineCode', 'Right_StationName',
       'Right_LineCode', 'DateKey', 'DayType', 'DayNumberOfMonth',
       'EnglishDayNameOfWeek', 'ThaiDayNameOfWeek', 'EnglishMonthName',
       'ThaiMonthName', 'MonthNumberOfYear', 'CalendarQuater',
       'CalendarSemester', 'CalendarYear'],
      dtype='object')

In [7]:
df.StationName.value_counts()

Sukhumvit                                   2247742
Phra Ram 9                                  1519359
Phetchaburi                                 1387354
Chatuchak Park                              1220946
Si Lom                                      1164985
Thailand Cultural Centre                    1129021
Huai Khwang                                 1127254
Phahon Yothin                                930277
Lat Phrao                                    921350
Hua Lamphong                                 822199
Sutthisan                                    821244
Queen Sirikit National Convention Centre     759837
Bang Sue                                     655375
Lumphini                                     589214
Sam Yan                                      583121
Ratchadaphisek                               420421
Kamphaeng Phet                               247994
Khlong Toei                                  141782
Tao Poon                                     114038
Khlong Bang Phai                              54678
Ministry of Public Health                     52388
Talad Bang Yai                                45161
Nonthaburi Civic Center                       35919
Yaek Nonthaburi 1                             34612
Wong Sawang                                   33810
Yaek Tiwanon                                  31761
Bang Rak Noi Tha It                           28128
Bang Krasor                                   26619
Bang Son                                      26207
Bang Phlu                                     17377
Sai Ma                                        17068
Phra Nang Klao Bridge                         14432
Sam Yaek Bang Yai                             11655
Bang Rak Yai                                   7441
Name: StationName, dtype: int64

In [8]:
def get_data_by_month(month):
  return df.loc[df['ThaiMonthName'] == month]

In [9]:
def get_transaction_df(month_df):
  df_month_transaction_date_sum = month_df.TransactionDate.value_counts().rename_axis('TransactionDate').reset_index(name='TransactionCounts')
  df_month_transaction_date_sum.sort_values('TransactionDate')
  return df_month_transaction_date_sum

In [10]:
def get_list_total_transaction_by_month(month_df , month_transaction_df , col_name):
  station_sum = 0
  todate_sum = 0
  station_list = month_df[col_name].unique().tolist()
  jan_date_list = month_transaction_df['TransactionDate'].tolist()
  output_list = []
  new_list = []
  total = 0
  for station in station_list:
    station_sum = 0
    output_list = []
    for date in jan_date_list:
      subset_df = month_df[ (month_df[col_name]==station) & (month_df["TransactionDate"]==date) ].count()
      column_count = subset_df.value_counts()
      station_sum = station_sum + column_count.index[0]
      output_list.append(column_count.index[0]) 
      # print("{} : {} : {}".format(station,date,column_count.index[0]) )
    new_list.append(output_list)
    total = total +station_sum
    print("{} total : {}".format(station,station_sum))
  print("Total : ", total)
  print(new_list)
  return new_list

In [11]:
def get_total_transaction_by_month_date(target_list,col_name):
  df_station = pd.DataFrame(target_list)
  total_by_date_list = [df_station[date].sum() for date in df_station.columns]
  df_total = pd.DataFrame(total_by_date_list , columns = [col_name])
  return df_total

In [12]:
def get_total_transaction_by_month(month_df , col_name , target_list , target_name):
  df_station = pd.DataFrame(target_list)
  # df_station.head() 
  station_list = month_df[col_name].unique().tolist()
  entry_station_list = [target_name + "-" + station + " Total" for station in station_list]
  df_station_new = df_station.T
  df_station_new.columns = entry_station_list
  return df_station_new

In [13]:
jan_df = get_data_by_month("มกราคม")
jan_df.head()

   TransactionID TransactionDate  ...  CalendarSemester CalendarYear
0             40      2017-01-01  ...                 1         2017
1             69      2017-01-01  ...                 1         2017
2            127      2017-01-01  ...                 1         2017
3            129      2017-01-01  ...                 1         2017
4            333      2017-01-01  ...                 1         2017

[5 rows x 24 columns]

In [14]:
jan_transaction_df = get_transaction_df(jan_df)
jan_transaction_df.head()

  TransactionDate  TransactionCounts
0      2017-01-25              37135
1      2017-01-26              36485
2      2017-01-13              36171
3      2017-01-24              36050
4      2017-01-20              35898

# Prep ข้อมูลการขึ้นทั้งหมดของแต่ละสถานี

In [15]:
entry_list = get_list_total_transaction_by_month(jan_df , jan_transaction_df , "StationName")

Sam Yan total : 27535
Si Lom total : 56352
Lumphini total : 29646
Khlong Toei total : 6491
Queen Sirikit National Convention Centre total : 29240
Sukhumvit total : 111928
Phetchaburi total : 72151
Phra Ram 9 total : 79336
Thailand Cultural Centre total : 57071
Huai Khwang total : 58844
Sutthisan total : 45883
Ratchadaphisek total : 22266
Lat Phrao total : 43903
Phahon Yothin total : 40775
Chatuchak Park total : 57959
Kamphaeng Phet total : 8437
Bang Sue total : 49282
Hua Lamphong total : 32847
Total :  829946
[[1328, 1309, 1190, 1207, 999, 1209, 986, 1165, 1241, 1014, 1006, 1215, 1207, 1158, 1110, 967, 1188, 1244, 990, 1156, 566, 551, 538, 509, 475, 337, 472, 398, 341, 250, 209], [2865, 2790, 2460, 2452, 2439, 2451, 2424, 2513, 2384, 2406, 2407, 2394, 2371, 2285, 2569, 2246, 2306, 2247, 2283, 2236, 1469, 853, 763, 745, 1100, 660, 557, 576, 554, 332, 215], [1448, 1404, 1345, 1426, 1295, 1374, 1369, 1358, 1372, 1378, 1391, 1299, 1327, 1259, 1298, 1243, 1311, 1209, 1314, 1144, 497, 303, 324, 322, 357, 307, 271, 254, 224, 135, 88], [308, 291, 304, 308, 302, 313, 294, 296, 322, 296, 273, 252, 308, 294, 301, 259, 249, 299, 245, 231, 112, 87, 88, 82, 67, 64, 61, 71, 55, 37, 22], [1400, 1404, 1334, 1377, 1332, 1336, 1328, 1319, 1345, 1411, 1374, 1310, 1324, 1290, 1169, 1223, 1289, 1188, 1235, 1301, 352, 386, 332, 359, 274, 302, 271, 231, 209, 136, 99], [4833, 4760, 4824, 4779, 4709, 4798, 4837, 4706, 4891, 4663, 4694, 4622, 4672, 4513, 4566, 4705, 4566, 4494, 4435, 4137, 2091, 2198, 2190, 2046, 1710, 1709, 1670, 1614, 1541, 1120, 835], [3512, 3356, 3268, 3424, 3432, 3395, 3425, 3309, 3344, 3336, 3401, 3281, 3310, 2896, 2980, 3081, 2785, 3203, 2937, 2562, 977, 1092, 967, 903, 665, 736, 661, 647, 607, 407, 252], [3469, 3249, 3393, 3294, 3449, 3324, 3306, 3318, 3178, 3291, 3311, 3237, 3181, 3160, 3204, 3183, 3101, 3002, 2950, 2993, 1699, 1721, 1709, 1566, 1257, 1468, 1272, 1373, 1210, 877, 591], [2527, 2566, 2631, 2455, 2627, 2553, 2432, 2371, 2343, 2585, 2454, 2354, 2255, 2428, 2355, 2278, 2319, 1952, 2364, 2131, 1041, 1099, 1100, 1009, 855, 839, 816, 771, 784, 438, 339], [2497, 2447, 2453, 2390, 2419, 2427, 2531, 2335, 2367, 2420, 2488, 2192, 2258, 2317, 2314, 2203, 2200, 2200, 1975, 2091, 1447, 1441, 1485, 1466, 1091, 976, 1070, 1100, 1030, 783, 431], [1991, 2058, 1991, 2033, 2073, 1965, 2026, 1978, 1968, 1965, 1945, 1906, 1932, 1931, 1886, 1916, 1927, 1773, 1817, 1792, 839, 827, 846, 825, 640, 630, 591, 653, 573, 365, 221], [986, 1000, 1000, 971, 997, 996, 968, 951, 968, 927, 965, 942, 903, 1003, 923, 853, 902, 889, 859, 881, 403, 416, 431, 414, 292, 291, 277, 310, 274, 180, 94], [1866, 1908, 1908, 1990, 1843, 1956, 1803, 1994, 1841, 1820, 1834, 1800, 1828, 1773, 1737, 1790, 1790, 1705, 1555, 1623, 879, 942, 949, 868, 752, 616, 682, 670, 592, 369, 220], [1617, 1705, 1661, 1609, 1733, 1592, 1653, 1622, 1585, 1600, 1539, 1583, 1595, 1643, 1603, 1452, 1496, 1513, 1477, 1439, 950, 1031, 1042, 977, 848, 786, 869, 875, 867, 461, 352], [2530, 2450, 2558, 2491, 2527, 2346, 2366, 2385, 2419, 2340, 2328, 2547, 2404, 2348, 2256, 2366, 2219, 2336, 2269, 2300, 1051, 1154, 1189, 1072, 980, 968, 992, 1020, 900, 489, 359], [225, 227, 306, 252, 272, 242, 243, 222, 223, 218, 214, 208, 226, 271, 248, 201, 212, 172, 198, 244, 415, 464, 444, 450, 420, 129, 394, 385, 393, 86, 233], [2310, 2214, 2166, 2241, 2126, 2197, 2231, 2212, 2080, 2156, 2134, 2225, 2186, 2039, 2049, 2055, 1976, 2149, 1754, 1930, 823, 878, 846, 766, 642, 726, 608, 555, 498, 324, 186], [1423, 1347, 1379, 1351, 1324, 1357, 1353, 1289, 1382, 1382, 1349, 1299, 1373, 1338, 1149, 1179, 1293, 1239, 1183, 1288, 786, 741, 775, 777, 601, 590, 537, 565, 471, 428, 299]]

In [16]:
entry_total_df = get_total_transaction_by_month_date(entry_list,"Entry Total")
entry_total_df.head()

   Entry Total
0        37135
1        36485
2        36171
3        36050
4        35898

In [17]:
entry_station_df = get_total_transaction_by_month(jan_df , "StationName" , entry_list , "Entry")
entry_station_df.head()

   Entry-Sam Yan Total  ...  Entry-Hua Lamphong Total
0                 1328  ...                      1423
1                 1309  ...                      1347
2                 1190  ...                      1379
3                 1207  ...                      1351
4                  999  ...                      1324

[5 rows x 18 columns]

# Prep ข้อมูลการลงทั้งหมดของแต่ละสถานี

In [18]:
exit_list = get_list_total_transaction_by_month(jan_df , jan_transaction_df , "Right_StationName")

Hua Lamphong total : 31458
Sam Yan total : 27046
Si Lom total : 55392
Lumphini total : 33379
Khlong Toei total : 6025
Queen Sirikit National Convention Centre total : 28690
Sukhumvit total : 119766
Phetchaburi total : 70236
Phra Ram 9 total : 84561
Thailand Cultural Centre total : 59048
Huai Khwang total : 54764
Sutthisan total : 42970
Ratchadaphisek total : 15531
Lat Phrao total : 49919
Phahon Yothin total : 45615
Chatuchak Park total : 51684
Kamphaeng Phet total : 8255
Bang Sue total : 45607
Total :  829946
[[1338, 1373, 1353, 1280, 1260, 1278, 1315, 1166, 1286, 1273, 1305, 1240, 1218, 1230, 1204, 1166, 1217, 1184, 1093, 1180, 840, 775, 742, 753, 623, 548, 545, 531, 492, 393, 257], [1299, 1245, 1156, 1242, 1001, 1245, 959, 1262, 1307, 1019, 990, 1189, 1171, 1194, 1112, 980, 1219, 1185, 628, 1105, 568, 535, 506, 518, 430, 366, 421, 406, 350, 262, 176], [2720, 2664, 2358, 2410, 2392, 2421, 2365, 2378, 2332, 2379, 2353, 2320, 2283, 2293, 2476, 2201, 2304, 2164, 2064, 2178, 1498, 898, 863, 821, 1115, 703, 637, 605, 531, 402, 264], [1621, 1604, 1527, 1538, 1509, 1513, 1510, 1512, 1483, 1534, 1512, 1494, 1508, 1431, 1464, 1405, 1416, 1370, 1313, 1374, 641, 425, 380, 407, 446, 361, 293, 283, 246, 166, 93], [289, 284, 276, 275, 288, 283, 265, 268, 297, 268, 252, 247, 292, 259, 255, 259, 222, 258, 214, 238, 78, 92, 92, 86, 83, 59, 68, 51, 62, 43, 22], [1383, 1343, 1296, 1361, 1246, 1324, 1336, 1323, 1323, 1320, 1296, 1330, 1293, 1213, 1167, 1229, 1260, 1236, 1148, 1224, 395, 430, 342, 329, 262, 306, 268, 257, 198, 154, 98], [5238, 5122, 5237, 5142, 5300, 5132, 5138, 5088, 5073, 5100, 5053, 4909, 4985, 4994, 4825, 4866, 4772, 4721, 4513, 4493, 2248, 2461, 2530, 2249, 1799, 1777, 1756, 1736, 1600, 1219, 690], [3398, 3370, 3206, 3382, 3204, 3243, 3316, 3338, 3323, 3289, 3315, 3222, 3274, 2650, 3015, 3061, 2696, 3122, 2814, 2506, 950, 1023, 898, 859, 658, 679, 656, 633, 577, 347, 212], [3699, 3597, 3568, 3554, 3522, 3613, 3528, 3549, 3499, 3513, 3530, 3508, 3344, 3405, 3316, 3395, 3318, 3254, 3295, 3199, 1649, 1723, 1745, 1641, 1384, 1532, 1340, 1436, 1351, 956, 598], [2559, 2531, 2662, 2541, 2688, 2589, 2532, 2468, 2354, 2549, 2468, 2322, 2346, 2492, 2501, 2315, 2346, 1979, 2280, 2193, 1167, 1189, 1198, 1110, 977, 994, 925, 904, 871, 519, 479], [2297, 2269, 2172, 2273, 2207, 2225, 2321, 2168, 2247, 2259, 2273, 2164, 2258, 2076, 2035, 2162, 2136, 2141, 2139, 1996, 1141, 1199, 1202, 1168, 1056, 992, 1027, 1039, 954, 658, 510], [1911, 1879, 1847, 1898, 1813, 1931, 1874, 1859, 1851, 1890, 1873, 1822, 1848, 1773, 1666, 1777, 1792, 1732, 1745, 1711, 687, 737, 706, 697, 597, 650, 578, 597, 565, 385, 279], [685, 684, 658, 703, 667, 649, 695, 674, 673, 628, 639, 685, 661, 635, 583, 627, 670, 646, 670, 612, 256, 285, 290, 269, 212, 232, 214, 222, 211, 121, 75], [2231, 2127, 2124, 2157, 2064, 2135, 2154, 2148, 2120, 2102, 2126, 2179, 2158, 2030, 1916, 2002, 2016, 2002, 2167, 1951, 948, 960, 1000, 858, 775, 670, 736, 728, 651, 375, 309], [1895, 1852, 1989, 1803, 1948, 1848, 1836, 1765, 1853, 1745, 1766, 1754, 1745, 1879, 1827, 1641, 1727, 1728, 1730, 1673, 1079, 1079, 1120, 1122, 862, 830, 894, 919, 872, 492, 342], [2263, 2254, 2390, 2233, 2391, 2213, 2231, 2175, 2114, 2189, 2188, 2086, 2111, 2177, 2176, 2046, 1981, 2065, 1924, 1886, 1014, 1087, 1139, 1067, 766, 643, 785, 778, 728, 334, 250], [244, 254, 355, 203, 361, 214, 215, 177, 206, 195, 199, 165, 157, 311, 357, 159, 195, 163, 205, 169, 452, 487, 481, 453, 386, 125, 374, 403, 364, 75, 151], [2065, 2033, 1997, 2055, 2037, 1975, 1985, 2025, 1912, 1956, 1969, 2030, 2008, 1904, 1822, 1909, 1842, 1864, 1898, 1791, 786, 799, 784, 749, 595, 667, 554, 540, 500, 316, 240]]

In [19]:
exit_total_df = get_total_transaction_by_month_date(exit_list,"Exit Total")
exit_total_df.head()

   Exit Total
0       37135
1       36485
2       36171
3       36050
4       35898

In [20]:
exit_station_df = get_total_transaction_by_month(jan_df , "Right_StationName" , exit_list,"Exit")
exit_station_df.head()

   Exit-Hua Lamphong Total  ...  Exit-Bang Sue Total
0                     1338  ...                 2065
1                     1373  ...                 2033
2                     1353  ...                 1997
3                     1280  ...                 2055
4                     1260  ...                 2037

[5 rows x 18 columns]

# Merge ข้อมูลการขึ้นและลงเข้ากับข้อมูล Transaction รายวัน

In [21]:
df_january = jan_transaction_df.join(entry_total_df).join(exit_total_df).join(entry_station_df).join(exit_station_df)
df_january

   TransactionDate  ...  Exit-Bang Sue Total
0       2017-01-25  ...                 2065
1       2017-01-26  ...                 2033
2       2017-01-13  ...                 1997
3       2017-01-24  ...                 2055
4       2017-01-20  ...                 2037
5       2017-01-11  ...                 1975
6       2017-01-18  ...                 1985
7       2017-01-10  ...                 2025
8       2017-01-31  ...                 1912
9       2017-01-19  ...                 1956
10      2017-01-17  ...                 1969
11      2017-01-09  ...                 2030
12      2017-01-23  ...                 2008
13      2017-01-06  ...                 1904
14      2017-01-27  ...                 1822
15      2017-01-16  ...                 1909
16      2017-01-05  ...                 1842
17      2017-01-30  ...                 1864
18      2017-01-12  ...                 1898
19      2017-01-04  ...                 1791
20      2017-01-28  ...                  786
21      2017-01-21  ...                  799
22      2017-01-14  ...                  784
23      2017-01-07  ...                  749
24      2017-01-29  ...                  595
25      2017-01-03  ...                  667
26      2017-01-22  ...                  554
27      2017-01-15  ...                  540
28      2017-01-08  ...                  500
29      2017-01-02  ...                  316
30      2017-01-01  ...                  240

[31 rows x 40 columns]

# Prep ข้อมูลประเภทของวัน

In [22]:
day_type_list = get_list_total_transaction_by_month(jan_df , jan_transaction_df , "DayType")

WE total : 117088
PH total : 19351
WD total : 693507
Total :  829946
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 16397, 16184, 16018, 15156, 13026, 0, 12071, 12068, 11123, 0, 5045], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 12134, 0, 0, 0, 7217, 0], [37135, 36485, 36171, 36050, 35898, 35831, 35575, 35343, 35253, 35208, 35107, 34666, 34660, 33946, 33717, 33200, 33129, 32814, 31840, 31479, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [23]:
df_dt = pd.DataFrame(day_type_list)
dt_list = jan_df["DayType"].unique().tolist()
dt_list_new = [dt for dt in dt_list]
df_dt_new = df_dt.T
df_dt_new.columns = dt_list_new
df_dt_new.loc[df_dt_new['WE'] > 0, 'WE'] = 1
df_dt_new.loc[df_dt_new['PH'] > 0, 'PH'] = 2
df_dt_new.loc[df_dt_new['WD'] > 0, 'WD'] = 3

In [24]:
df_day_type = pd.DataFrame(columns=['DayType'])
df_day_type["DayType"] = ( (df_dt_new["WE"] != 0) * (df_dt_new["WE"]) ) + ( (df_dt_new["PH"] != 0) * (df_dt_new["PH"]) ) + ( (df_dt_new["WD"] != 0) * (df_dt_new["WD"]) )

In [25]:
df_day_type.loc[df_day_type['DayType'] == 1, 'DayType'] = "WE"
df_day_type.loc[df_day_type['DayType'] == 2, 'DayType'] = "PH"
df_day_type.loc[df_day_type['DayType'] == 3, 'DayType'] = "WD"

# Merge ข้อมูลประเภทของวัน (วันทำงาน , วันหยุด , วันนักขัตฤกษ์)

In [26]:
df_january = df_january.join(df_day_type)
df_january

   TransactionDate  TransactionCounts  ...  Exit-Bang Sue Total  DayType
0       2017-01-25              37135  ...                 2065       WD
1       2017-01-26              36485  ...                 2033       WD
2       2017-01-13              36171  ...                 1997       WD
3       2017-01-24              36050  ...                 2055       WD
4       2017-01-20              35898  ...                 2037       WD
5       2017-01-11              35831  ...                 1975       WD
6       2017-01-18              35575  ...                 1985       WD
7       2017-01-10              35343  ...                 2025       WD
8       2017-01-31              35253  ...                 1912       WD
9       2017-01-19              35208  ...                 1956       WD
10      2017-01-17              35107  ...                 1969       WD
11      2017-01-09              34666  ...                 2030       WD
12      2017-01-23              34660  ...                 2008       WD
13      2017-01-06              33946  ...                 1904       WD
14      2017-01-27              33717  ...                 1822       WD
15      2017-01-16              33200  ...                 1909       WD
16      2017-01-05              33129  ...                 1842       WD
17      2017-01-30              32814  ...                 1864       WD
18      2017-01-12              31840  ...                 1898       WD
19      2017-01-04              31479  ...                 1791       WD
20      2017-01-28              16397  ...                  786       WE
21      2017-01-21              16184  ...                  799       WE
22      2017-01-14              16018  ...                  784       WE
23      2017-01-07              15156  ...                  749       WE
24      2017-01-29              13026  ...                  595       WE
25      2017-01-03              12134  ...                  667       PH
26      2017-01-22              12071  ...                  554       WE
27      2017-01-15              12068  ...                  540       WE
28      2017-01-08              11123  ...                  500       WE
29      2017-01-02               7217  ...                  316       PH
30      2017-01-01               5045  ...                  240       WE

[31 rows x 41 columns]

# Prep ข้อมูลวันอะไรของสัปดาห์

In [27]:
day_of_week_list = get_list_total_transaction_by_month(jan_df , jan_transaction_df , "EnglishDayNameOfWeek")

Sunday total : 53333
Monday total : 142557
Tuesday total : 153887
Wednesday total : 140020
Thursday total : 136662
Friday total : 139732
Saturday total : 63755
Total :  829946
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 13026, 0, 12071, 12068, 11123, 0, 5045], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 34666, 34660, 0, 0, 33200, 0, 32814, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7217, 0], [0, 0, 0, 36050, 0, 0, 0, 35343, 35253, 0, 35107, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 12134, 0, 0, 0, 0, 0], [37135, 0, 0, 0, 0, 35831, 35575, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 31479, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 36485, 0, 0, 0, 0, 0, 0, 0, 35208, 0, 0, 0, 0, 0, 0, 33129, 0, 31840, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 36171, 0, 35898, 0, 0, 0, 0, 0, 0, 0, 0, 33946, 33717, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 16397, 16184, 16018, 15156, 0, 0, 0, 0, 0, 0, 0]]

In [28]:
df_dow = pd.DataFrame(day_of_week_list)
dow_list = jan_df["EnglishDayNameOfWeek"].unique().tolist()
dow_list_new = [dow for dow in dow_list]
df_dow_new = df_dow.T
df_dow_new.columns = dow_list_new
df_dow_new.loc[df_dow_new['Sunday'] > 0, 'Sunday'] = 1
df_dow_new.loc[df_dow_new['Monday'] > 0, 'Monday'] = 2
df_dow_new.loc[df_dow_new['Tuesday'] > 0, 'Tuesday'] = 3
df_dow_new.loc[df_dow_new['Wednesday'] > 0, 'Wednesday'] = 4
df_dow_new.loc[df_dow_new['Thursday'] > 0, 'Thursday'] = 5
df_dow_new.loc[df_dow_new['Friday'] > 0, 'Friday'] = 6
df_dow_new.loc[df_dow_new['Saturday'] > 0, 'Saturday'] = 7

In [29]:
df_date_of_week = pd.DataFrame(columns=['DateOfWeek'])
df_date_of_week["DateOfWeek"] =  ( (df_dow_new["Sunday"] != 0) * (df_dow_new["Sunday"]) ) + ( (df_dow_new["Monday"] != 0) * (df_dow_new["Monday"]) ) + ( (df_dow_new["Tuesday"] != 0) * (df_dow_new["Tuesday"]) )+ ( (df_dow_new["Wednesday"] != 0) * (df_dow_new["Wednesday"]) )+ ( (df_dow_new["Thursday"] != 0) * (df_dow_new["Thursday"]) )+ ( (df_dow_new["Friday"] != 0) * (df_dow_new["Friday"]) )+ ( (df_dow_new["Saturday"] != 0) * (df_dow_new["Saturday"]) )

In [30]:
df_date_of_week.loc[df_date_of_week['DateOfWeek'] == 1, 'DateOfWeek'] = "Sunday"
df_date_of_week.loc[df_date_of_week['DateOfWeek'] == 2, 'DateOfWeek'] = "Monday"
df_date_of_week.loc[df_date_of_week['DateOfWeek'] == 3, 'DateOfWeek'] = "Tuesday"
df_date_of_week.loc[df_date_of_week['DateOfWeek'] == 4, 'DateOfWeek'] = "Wednesday"
df_date_of_week.loc[df_date_of_week['DateOfWeek'] == 5, 'DateOfWeek'] = "Thursday"
df_date_of_week.loc[df_date_of_week['DateOfWeek'] == 6, 'DateOfWeek'] = "Friday"
df_date_of_week.loc[df_date_of_week['DateOfWeek'] == 7, 'DateOfWeek'] = "Saturday"

# Merge ข้อมูล วันอะไรของสัปดาห์

In [31]:
df_january = df_january.join(df_date_of_week)
df_january

   TransactionDate  TransactionCounts  ...  DayType  DateOfWeek
0       2017-01-25              37135  ...       WD   Wednesday
1       2017-01-26              36485  ...       WD    Thursday
2       2017-01-13              36171  ...       WD      Friday
3       2017-01-24              36050  ...       WD     Tuesday
4       2017-01-20              35898  ...       WD      Friday
5       2017-01-11              35831  ...       WD   Wednesday
6       2017-01-18              35575  ...       WD   Wednesday
7       2017-01-10              35343  ...       WD     Tuesday
8       2017-01-31              35253  ...       WD     Tuesday
9       2017-01-19              35208  ...       WD    Thursday
10      2017-01-17              35107  ...       WD     Tuesday
11      2017-01-09              34666  ...       WD      Monday
12      2017-01-23              34660  ...       WD      Monday
13      2017-01-06              33946  ...       WD      Friday
14      2017-01-27              33717  ...       WD      Friday
15      2017-01-16              33200  ...       WD      Monday
16      2017-01-05              33129  ...       WD    Thursday
17      2017-01-30              32814  ...       WD      Monday
18      2017-01-12              31840  ...       WD    Thursday
19      2017-01-04              31479  ...       WD   Wednesday
20      2017-01-28              16397  ...       WE    Saturday
21      2017-01-21              16184  ...       WE    Saturday
22      2017-01-14              16018  ...       WE    Saturday
23      2017-01-07              15156  ...       WE    Saturday
24      2017-01-29              13026  ...       WE      Sunday
25      2017-01-03              12134  ...       PH     Tuesday
26      2017-01-22              12071  ...       WE      Sunday
27      2017-01-15              12068  ...       WE      Sunday
28      2017-01-08              11123  ...       WE      Sunday
29      2017-01-02               7217  ...       PH      Monday
30      2017-01-01               5045  ...       WE      Sunday

[31 rows x 42 columns]

# Prep ข้อมูล วันที่เท่าไหร่ของเดือน และ เป็นช่วงไหนของเดือน (ต้นเดือน , กลางเดือน , สิ้นเดือน)

In [32]:
df_day_number_of_month = pd.DataFrame(columns=['DayNumberOfMonth','MonthPeriod','MonthNumberOfYear','CalendarQuater'])
df_day_number_of_month["DayNumberOfMonth"] =  df_january['TransactionDate'].str.slice(8, 10).astype('int')
df_day_number_of_month["MonthPeriod"] =  df_january['TransactionDate'].str.slice(8, 10).astype('int')
df_day_number_of_month["MonthNumberOfYear"] =  df_january['TransactionDate'].str.slice(5, 7).astype('int')

In [33]:
df_day_number_of_month.loc[df_day_number_of_month['MonthPeriod'].astype('int') <= 5, 'MonthPeriod'] = 1
df_day_number_of_month.loc[( (df_day_number_of_month['MonthPeriod'].astype('int') > 5) & (df_day_number_of_month['MonthPeriod'].astype('int') < 25) ), 'MonthPeriod'] = 2
df_day_number_of_month.loc[df_day_number_of_month['MonthPeriod'].astype('int') >= 25, 'MonthPeriod'] = 3

df_day_number_of_month.loc[df_day_number_of_month['MonthPeriod'] == 1, 'MonthPeriod'] = "Early"
df_day_number_of_month.loc[df_day_number_of_month['MonthPeriod'] == 2, 'MonthPeriod'] = "Mid"
df_day_number_of_month.loc[df_day_number_of_month['MonthPeriod'] == 3, 'MonthPeriod'] = "Late"

df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 1, 'CalendarQuater'] = 1
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 2, 'CalendarQuater'] = 1
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 3, 'CalendarQuater'] = 1
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 4, 'CalendarQuater'] = 2
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 5, 'CalendarQuater'] = 2
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 6, 'CalendarQuater'] = 2
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 7, 'CalendarQuater'] = 3
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 8, 'CalendarQuater'] = 3
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 9, 'CalendarQuater'] = 3
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 10, 'CalendarQuater'] = 4
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 11, 'CalendarQuater'] = 4
df_day_number_of_month.loc[df_day_number_of_month['MonthNumberOfYear'].astype('int') == 12, 'CalendarQuater'] = 4

In [34]:
df_day_number_of_month

    DayNumberOfMonth MonthPeriod  MonthNumberOfYear CalendarQuater
0                 25        Late                  1              1
1                 26        Late                  1              1
2                 13         Mid                  1              1
3                 24         Mid                  1              1
4                 20         Mid                  1              1
5                 11         Mid                  1              1
6                 18         Mid                  1              1
7                 10         Mid                  1              1
8                 31        Late                  1              1
9                 19         Mid                  1              1
10                17         Mid                  1              1
11                 9         Mid                  1              1
12                23         Mid                  1              1
13                 6         Mid                  1              1
14                27        Late                  1              1
15                16         Mid                  1              1
16                 5       Early                  1              1
17                30        Late                  1              1
18                12         Mid                  1              1
19                 4       Early                  1              1
20                28        Late                  1              1
21                21         Mid                  1              1
22                14         Mid                  1              1
23                 7         Mid                  1              1
24                29        Late                  1              1
25                 3       Early                  1              1
26                22         Mid                  1              1
27                15         Mid                  1              1
28                 8         Mid                  1              1
29                 2       Early                  1              1
30                 1       Early                  1              1

# Merge ข้อมูล วันที่เท่าไหร่ของเดือน และ เป็นช่วงไหนของเดือน (ต้นเดือน , กลางเดือน , สิ้นเดือน)

In [35]:
df_january = df_january.join(df_day_number_of_month)
df_january

   TransactionDate  TransactionCounts  ...  MonthNumberOfYear  CalendarQuater
0       2017-01-25              37135  ...                  1               1
1       2017-01-26              36485  ...                  1               1
2       2017-01-13              36171  ...                  1               1
3       2017-01-24              36050  ...                  1               1
4       2017-01-20              35898  ...                  1               1
5       2017-01-11              35831  ...                  1               1
6       2017-01-18              35575  ...                  1               1
7       2017-01-10              35343  ...                  1               1
8       2017-01-31              35253  ...                  1               1
9       2017-01-19              35208  ...                  1               1
10      2017-01-17              35107  ...                  1               1
11      2017-01-09              34666  ...                  1               1
12      2017-01-23              34660  ...                  1               1
13      2017-01-06              33946  ...                  1               1
14      2017-01-27              33717  ...                  1               1
15      2017-01-16              33200  ...                  1               1
16      2017-01-05              33129  ...                  1               1
17      2017-01-30              32814  ...                  1               1
18      2017-01-12              31840  ...                  1               1
19      2017-01-04              31479  ...                  1               1
20      2017-01-28              16397  ...                  1               1
21      2017-01-21              16184  ...                  1               1
22      2017-01-14              16018  ...                  1               1
23      2017-01-07              15156  ...                  1               1
24      2017-01-29              13026  ...                  1               1
25      2017-01-03              12134  ...                  1               1
26      2017-01-22              12071  ...                  1               1
27      2017-01-15              12068  ...                  1               1
28      2017-01-08              11123  ...                  1               1
29      2017-01-02               7217  ...                  1               1
30      2017-01-01               5045  ...                  1               1

[31 rows x 46 columns]

# Export Data

In [36]:
df_january.to_excel (r'Jan_Summary.xlsx', index = False, header=True)