<a href="https://colab.research.google.com/github/Kzis/mrt-is/blob/master/MRT_IS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 4/zgGqjYp9xNvXVakfFyzEZb05Qfsnz3F0e8iJaTsk_-1OlH011Jo2ubk

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
# df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv" , nrows=10000)
df = pd.read_csv("gdrive/My Drive/NIDA/transection_.csv")

In [5]:
df.shape

(17240769, 24)

In [6]:
df.head()

   TransactionID TransactionDate  ...  CalendarSemester CalendarYear
0             40      2017-01-01  ...                 1         2017
1             69      2017-01-01  ...                 1         2017
2            127      2017-01-01  ...                 1         2017
3            129      2017-01-01  ...                 1         2017
4            333      2017-01-01  ...                 1         2017

[5 rows x 24 columns]

In [7]:
df.columns

Index(['TransactionID', 'TransactionDate', 'CardType', 'BusinessDay',
       'EntryStationID', 'ExitStationID', 'TicketType', 'TicketName',
       'PassengerType', 'StationName', 'LineCode', 'Right_StationName',
       'Right_LineCode', 'DateKey', 'DayType', 'DayNumberOfMonth',
       'EnglishDayNameOfWeek', 'ThaiDayNameOfWeek', 'EnglishMonthName',
       'ThaiMonthName', 'MonthNumberOfYear', 'CalendarQuater',
       'CalendarSemester', 'CalendarYear'],
      dtype='object')

In [8]:
df.StationName.value_counts()

Sukhumvit                                   2247742
Phra Ram 9                                  1519359
Phetchaburi                                 1387354
Chatuchak Park                              1220946
Si Lom                                      1164985
Thailand Cultural Centre                    1129021
Huai Khwang                                 1127254
Phahon Yothin                                930277
Lat Phrao                                    921350
Hua Lamphong                                 822199
Sutthisan                                    821244
Queen Sirikit National Convention Centre     759837
Bang Sue                                     655375
Lumphini                                     589214
Sam Yan                                      583121
Ratchadaphisek                               420421
Kamphaeng Phet                               247994
Khlong Toei                                  141782
Tao Poon                                     114038
Khlong Bang Phai                              54678
Ministry of Public Health                     52388
Talad Bang Yai                                45161
Nonthaburi Civic Center                       35919
Yaek Nonthaburi 1                             34612
Wong Sawang                                   33810
Yaek Tiwanon                                  31761
Bang Rak Noi Tha It                           28128
Bang Krasor                                   26619
Bang Son                                      26207
Bang Phlu                                     17377
Sai Ma                                        17068
Phra Nang Klao Bridge                         14432
Sam Yaek Bang Yai                             11655
Bang Rak Yai                                   7441
Name: StationName, dtype: int64

In [9]:
jan_df = df.loc[df['ThaiMonthName'] == 'มกราคม']
jan_df.head()

   TransactionID TransactionDate  ...  CalendarSemester CalendarYear
0             40      2017-01-01  ...                 1         2017
1             69      2017-01-01  ...                 1         2017
2            127      2017-01-01  ...                 1         2017
3            129      2017-01-01  ...                 1         2017
4            333      2017-01-01  ...                 1         2017

[5 rows x 24 columns]

In [10]:
df_jan_transaction_date_sum = jan_df.TransactionDate.value_counts().rename_axis('date').reset_index(name='counts')
df_jan_transaction_date_sum.sort_values('date')
print(df_jan_transaction_date_sum)

          date  counts
0   2017-01-25   37135
1   2017-01-26   36485
2   2017-01-13   36171
3   2017-01-24   36050
4   2017-01-20   35898
5   2017-01-11   35831
6   2017-01-18   35575
7   2017-01-10   35343
8   2017-01-31   35253
9   2017-01-19   35208
10  2017-01-17   35107
11  2017-01-09   34666
12  2017-01-23   34660
13  2017-01-06   33946
14  2017-01-27   33717
15  2017-01-16   33200
16  2017-01-05   33129
17  2017-01-30   32814
18  2017-01-12   31840
19  2017-01-04   31479
20  2017-01-28   16397
21  2017-01-21   16184
22  2017-01-14   16018
23  2017-01-07   15156
24  2017-01-29   13026
25  2017-01-03   12134
26  2017-01-22   12071
27  2017-01-15   12068
28  2017-01-08   11123
29  2017-01-02    7217
30  2017-01-01    5045

In [11]:
station_sum = 0
station_list = jan_df['StationName'].unique().tolist()
# station_list = ["Sam Yan","Ratchadaphisek"]
jan_date_list = df_jan_transaction_date_sum['date'].tolist()
output_list = []
new_list = []
total = 0
for station in station_list:
  station_sum = 0
  output_list = []
  for date in jan_date_list:
    subset_df = jan_df[ (jan_df["StationName"]==station) & (jan_df["TransactionDate"]==date) ].count()
    column_count = subset_df.value_counts()
    station_sum = station_sum + column_count.index[0]
    output_list.append(column_count.index[0]) 
    # print("{} : {} : {}".format(station,date,column_count.index[0]) )
  new_list.append(output_list)
  total = total +station_sum
  print("{} total : {}".format(station,station_sum))
print("Total : ", total)
print(new_list)

Sam Yan total : 27535
Si Lom total : 56352
Lumphini total : 29646
Khlong Toei total : 6491
Queen Sirikit National Convention Centre total : 29240
Sukhumvit total : 111928
Phetchaburi total : 72151
Phra Ram 9 total : 79336
Thailand Cultural Centre total : 57071
Huai Khwang total : 58844
Sutthisan total : 45883
Ratchadaphisek total : 22266
Lat Phrao total : 43903
Phahon Yothin total : 40775
Chatuchak Park total : 57959
Kamphaeng Phet total : 8437
Bang Sue total : 49282
Hua Lamphong total : 32847
Total :  829946
[[1328, 1309, 1190, 1207, 999, 1209, 986, 1165, 1241, 1014, 1006, 1215, 1207, 1158, 1110, 967, 1188, 1244, 990, 1156, 566, 551, 538, 509, 475, 337, 472, 398, 341, 250, 209], [2865, 2790, 2460, 2452, 2439, 2451, 2424, 2513, 2384, 2406, 2407, 2394, 2371, 2285, 2569, 2246, 2306, 2247, 2283, 2236, 1469, 853, 763, 745, 1100, 660, 557, 576, 554, 332, 215], [1448, 1404, 1345, 1426, 1295, 1374, 1369, 1358, 1372, 1378, 1391, 1299, 1327, 1259, 1298, 1243, 1311, 1209, 1314, 1144, 497, 303, 324, 322, 357, 307, 271, 254, 224, 135, 88], [308, 291, 304, 308, 302, 313, 294, 296, 322, 296, 273, 252, 308, 294, 301, 259, 249, 299, 245, 231, 112, 87, 88, 82, 67, 64, 61, 71, 55, 37, 22], [1400, 1404, 1334, 1377, 1332, 1336, 1328, 1319, 1345, 1411, 1374, 1310, 1324, 1290, 1169, 1223, 1289, 1188, 1235, 1301, 352, 386, 332, 359, 274, 302, 271, 231, 209, 136, 99], [4833, 4760, 4824, 4779, 4709, 4798, 4837, 4706, 4891, 4663, 4694, 4622, 4672, 4513, 4566, 4705, 4566, 4494, 4435, 4137, 2091, 2198, 2190, 2046, 1710, 1709, 1670, 1614, 1541, 1120, 835], [3512, 3356, 3268, 3424, 3432, 3395, 3425, 3309, 3344, 3336, 3401, 3281, 3310, 2896, 2980, 3081, 2785, 3203, 2937, 2562, 977, 1092, 967, 903, 665, 736, 661, 647, 607, 407, 252], [3469, 3249, 3393, 3294, 3449, 3324, 3306, 3318, 3178, 3291, 3311, 3237, 3181, 3160, 3204, 3183, 3101, 3002, 2950, 2993, 1699, 1721, 1709, 1566, 1257, 1468, 1272, 1373, 1210, 877, 591], [2527, 2566, 2631, 2455, 2627, 2553, 2432, 2371, 2343, 2585, 2454, 2354, 2255, 2428, 2355, 2278, 2319, 1952, 2364, 2131, 1041, 1099, 1100, 1009, 855, 839, 816, 771, 784, 438, 339], [2497, 2447, 2453, 2390, 2419, 2427, 2531, 2335, 2367, 2420, 2488, 2192, 2258, 2317, 2314, 2203, 2200, 2200, 1975, 2091, 1447, 1441, 1485, 1466, 1091, 976, 1070, 1100, 1030, 783, 431], [1991, 2058, 1991, 2033, 2073, 1965, 2026, 1978, 1968, 1965, 1945, 1906, 1932, 1931, 1886, 1916, 1927, 1773, 1817, 1792, 839, 827, 846, 825, 640, 630, 591, 653, 573, 365, 221], [986, 1000, 1000, 971, 997, 996, 968, 951, 968, 927, 965, 942, 903, 1003, 923, 853, 902, 889, 859, 881, 403, 416, 431, 414, 292, 291, 277, 310, 274, 180, 94], [1866, 1908, 1908, 1990, 1843, 1956, 1803, 1994, 1841, 1820, 1834, 1800, 1828, 1773, 1737, 1790, 1790, 1705, 1555, 1623, 879, 942, 949, 868, 752, 616, 682, 670, 592, 369, 220], [1617, 1705, 1661, 1609, 1733, 1592, 1653, 1622, 1585, 1600, 1539, 1583, 1595, 1643, 1603, 1452, 1496, 1513, 1477, 1439, 950, 1031, 1042, 977, 848, 786, 869, 875, 867, 461, 352], [2530, 2450, 2558, 2491, 2527, 2346, 2366, 2385, 2419, 2340, 2328, 2547, 2404, 2348, 2256, 2366, 2219, 2336, 2269, 2300, 1051, 1154, 1189, 1072, 980, 968, 992, 1020, 900, 489, 359], [225, 227, 306, 252, 272, 242, 243, 222, 223, 218, 214, 208, 226, 271, 248, 201, 212, 172, 198, 244, 415, 464, 444, 450, 420, 129, 394, 385, 393, 86, 233], [2310, 2214, 2166, 2241, 2126, 2197, 2231, 2212, 2080, 2156, 2134, 2225, 2186, 2039, 2049, 2055, 1976, 2149, 1754, 1930, 823, 878, 846, 766, 642, 726, 608, 555, 498, 324, 186], [1423, 1347, 1379, 1351, 1324, 1357, 1353, 1289, 1382, 1382, 1349, 1299, 1373, 1338, 1149, 1179, 1293, 1239, 1183, 1288, 786, 741, 775, 777, 601, 590, 537, 565, 471, 428, 299]]

In [12]:
df_station = pd.DataFrame(new_list)
df_station.head()

     0     1     2     3     4     5     6   ...    24   25   26   27   28   29   30
0  1328  1309  1190  1207   999  1209   986  ...   475  337  472  398  341  250  209
1  2865  2790  2460  2452  2439  2451  2424  ...  1100  660  557  576  554  332  215
2  1448  1404  1345  1426  1295  1374  1369  ...   357  307  271  254  224  135   88
3   308   291   304   308   302   313   294  ...    67   64   61   71   55   37   22
4  1400  1404  1334  1377  1332  1336  1328  ...   274  302  271  231  209  136   99

[5 rows x 31 columns]

In [13]:
df_station_new = df_station.T
df_station_new.columns = station_list

In [14]:
df_station_new

    Sam Yan  Si Lom  Lumphini  ...  Kamphaeng Phet  Bang Sue  Hua Lamphong
0      1328    2865      1448  ...             225      2310          1423
1      1309    2790      1404  ...             227      2214          1347
2      1190    2460      1345  ...             306      2166          1379
3      1207    2452      1426  ...             252      2241          1351
4       999    2439      1295  ...             272      2126          1324
5      1209    2451      1374  ...             242      2197          1357
6       986    2424      1369  ...             243      2231          1353
7      1165    2513      1358  ...             222      2212          1289
8      1241    2384      1372  ...             223      2080          1382
9      1014    2406      1378  ...             218      2156          1382
10     1006    2407      1391  ...             214      2134          1349
11     1215    2394      1299  ...             208      2225          1299
12     1207    2371      1327  ...             226      2186          1373
13     1158    2285      1259  ...             271      2039          1338
14     1110    2569      1298  ...             248      2049          1149
15      967    2246      1243  ...             201      2055          1179
16     1188    2306      1311  ...             212      1976          1293
17     1244    2247      1209  ...             172      2149          1239
18      990    2283      1314  ...             198      1754          1183
19     1156    2236      1144  ...             244      1930          1288
20      566    1469       497  ...             415       823           786
21      551     853       303  ...             464       878           741
22      538     763       324  ...             444       846           775
23      509     745       322  ...             450       766           777
24      475    1100       357  ...             420       642           601
25      337     660       307  ...             129       726           590
26      472     557       271  ...             394       608           537
27      398     576       254  ...             385       555           565
28      341     554       224  ...             393       498           471
29      250     332       135  ...              86       324           428
30      209     215        88  ...             233       186           299

[31 rows x 18 columns]

In [15]:
df_january = df_jan_transaction_date_sum.join(df_station_new)

In [16]:
df_january.head()

         date  counts  Sam Yan  ...  Kamphaeng Phet  Bang Sue  Hua Lamphong
0  2017-01-25   37135     1328  ...             225      2310          1423
1  2017-01-26   36485     1309  ...             227      2214          1347
2  2017-01-13   36171     1190  ...             306      2166          1379
3  2017-01-24   36050     1207  ...             252      2241          1351
4  2017-01-20   35898      999  ...             272      2126          1324

[5 rows x 20 columns]

In [18]:
df_january.to_excel (r'Jan_Summary.xlsx', index = False, header=True)

In [19]:
jan_df.StationName.value_counts()

Sukhumvit                                   111928
Phra Ram 9                                   79336
Phetchaburi                                  72151
Huai Khwang                                  58844
Chatuchak Park                               57959
Thailand Cultural Centre                     57071
Si Lom                                       56352
Bang Sue                                     49282
Sutthisan                                    45883
Lat Phrao                                    43903
Phahon Yothin                                40775
Hua Lamphong                                 32847
Lumphini                                     29646
Queen Sirikit National Convention Centre     29240
Sam Yan                                      27535
Ratchadaphisek                               22266
Kamphaeng Phet                                8437
Khlong Toei                                   6491
Name: StationName, dtype: int64